@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: rgb(3, 4, 94);
  background: linear-gradient(
    262deg,
    rgba(3, 4, 94, 1) 0%,
    rgba(0, 150, 199, 1) 100%
  );
  color: #ade8f4;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#btn {
  color: #03045e;
  background-color: #0077b6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  padding: 20px 50px;
}

#btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #ade8f4, #0077b6);
}

#btn:active {
  margin: 1px 1px 0;
  box-shadow: -1px -1px 1px #8bf;
}
